extends layout

block content
    script(src='/js/controllers/eat.js', language='javascript')
    div(ng-controller='EatController')
        div.row
                button(class='btn btn-primary btn-sm', ng-click='recommendOne()') 
                    span(class='glyphicon glyphicon-thumbs-up')
                    | &nbsp;Recommend One for Me!!
                &nbsp;
                label(class='label label-success fade recommended', id='recommendedRestaurant') {{recommended.name}}                   
        div.row
                label My new choice:
                input(type='text', class='form-control input-md', ng-model='newRestaurantName')
                button(class='btn btn-default btn-md', busy, ng-click='addRestaurant()')
                    span(class='glyphicon glyphicon-plus')
                    | &nbsp;Add
        div.row
            label All choices:
        div.list-group
            div.list-group-item(ng-repeat='restaurant in restaurants')
                label {{restaurant.name}}
                button(class='btn btn-default pull-right', ng-click='removeRestaurant(restaurant._id)') Remove
