extends layout

block content
    p (Note: one or multiple answers are correct for each question.)
    each question, index in lib.questions
        p= (index + 1) + '. ' + question.content
        table
            each answer in question.answerCandidates
                tr
                    td
                        input(type='checkbox')
                        span= answer
