extends layout

block content
    h1= title
    p Choose an exam to take:
    ul
        each lib in libs
            li
                a(href='/exam/#{lib.name}')= lib.name
    p Other resources:
    ul
        li  
            a(href='/users')
                | All users

