doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angularjs/1.2.19/angular.min.js', language='javascript')
  body
    p
        a(href='/') Home
    h1= title
    block content