doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/lib/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/lib/angularjs/1.2.19/angular.min.js', language='javascript')
    script(src='/lib/angularui/ui-bootstrap-tpls-0.11.0.min.js', language='javascript')
  body
    p
        a(href='/') Home
    h1= title
    block content