body {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.ie-correct {
    color: white;
    background: blue;
    font-weight: normal
}

.ie-user-correct {
    color: white;
    background: green;
    font-weight: normal
}

.ie-userWrong {
    color: white;
    background: red;
    font-weight: normal
}
.ie-bigText {
    font-size: 20px;
}
img.ie-questionResult {
    width: 16px;
    height: 16px;
}
